body{
    margin: 0px;
}
.title{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkslateblue;
}
.titlelast{
    color: brown;
}
.row{
    display: flex;
    justify-content: center;
    padding-top: 100px;

}
#num1,#num2{
    font-size: 20px;
    margin-bottom: 10%;
    border:none;
    border-bottom: 2px solid rgb(122, 121, 121);
    padding: 20px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn,.btn2,.btn3,.btn4{
    height: 40px;
    width: 40px;
    border: none;
    font-size: 20px;
    color: rgb(255, 255, 248);
    border-radius: 20%;
}
.btn{
    background-color: rgb(173, 22, 22);
}
.btn2{
    background-color: rgb(21, 21, 138);
}
.btn3{
    background-color: rgb(16, 104, 16);
}
.btn4{
    background-color: rgb(153, 58, 24);
}
.cardTitle{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(146, 145, 146);
}
.more{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: rgb(172, 172, 172);
    bottom: 93%;
    left: 97%;
    border: none;
}
.more1{
    position: absolute;
    bottom: 50%;
    left: 80%;
    height: 200px;
    width: 200px;
    font-size: 20px;
    color: rgb(200, 201, 201);
}




